.addLap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px; 
  padding: 100px 0 ;

  &_forms{
    display: flex;
    gap: 50px;
    background-color: #34363D;
    width: 500px;
    height: 600px;
    border-radius: 12px;
     &_form {
        padding: 50px;   
        width: 600px;
        height: 714px;

    &_inputs {
      display: flex;
      flex-direction: column;
      gap: 20px;

      &_input {
        padding: 12px 16px;
        border-radius: 8px;
        border: none;
        background-color: #2C2E35;
        color: #fff;
        font-size: 14px;
        width: 400px;

        &::placeholder {
          color: #aaa;
        }

        &:focus {
          outline: 2px solid #ffeb3b; // желтый при фокусе
        }
      }
    }

    &_button {
      margin-top: 200px;
      padding: 12px 16px;
      border: none;
      border-radius: 8px;
      background-color: #ffeb3b; 
      width: 400px;
      color: #1e1e2f;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        background-color: #e6d800;
      }
    }
  }

  }
 
  &_bak {
    flex: 1;
    display: flex;
    justify-content: center;

    .addLap_bak_img {
        width: 500px;
        height: 500px;
    }
  }
}
