.headers{
    background-color: #141618;
    height: 100px;
    margin-bottom: 40px;
    &_header{
        display: flex;
        gap: 200px;
        padding: 20px 0 ;

        &_logo{
            &_img{
                width: 42px;
                height: 61px;
            }
        }

        &_navs {
            display: flex;
            gap: 50px;

            &_link {
                color: #ffffff;
                padding-top: 15px;
                font-size: 16px;
                transition: color 0.3s;

                &:hover {
                    transform: scale(1.1);
                    transition: transform 0.3s;
                }
                &.active {
                    color: #fee642;
                }
            }
        }
        &_exit{
            &_btn{
                color: #000000;
                border: none;
                font-size: 18px;
                transition: color 0.3s;
                background-color: #fee642;
                border-radius: 5px;
                padding: 10px 20px;
                width: 200px;
                margin-top: 5px;

                &:hover {
                    transform: scale(1.1);
                    transition: transform 0.3s;
                }
            }
        }
    }
}